<h1><%=@game.current_player.name%> vs. <%=@game.players.last.name%></h1>
<p><%=@game.players.last.name%>: <%=@game.players.last.hit_points%>HP</p>
<form action='/attack'>
  <input type="submit" value='Attack'/>
</form >
